<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="postResult">
  <h2 class="postTitle"></h2>
  <p class="postBody"></p>
</div>
<script type="text/javascript">
  $(function(){
    $('form').submit(function(e){
      e.preventDefault()
      let values = $(this).serialize()
      let posting = $.post('/posts', values)
      posting.done(function(data){
        $('.postTitle').text(post.title)
        $('.postBody').text(post.description)
      })
    })
  })
</script>
