
<%# <%= form_for(@post) do |f| %1> %>
<%#   <div class="field"> %>
<%#     <%= f.label :title %1><br> %>
<%#     <%= f.text_field :title %1> %>
<%#   </div> %>
<%#   <div class="field"> %>
<%#     <%= f.label :description %1><br> %>
<%#     <%= f.text_field :description %1> %>
<%#   </div> %>
<%#   <div class="actions"> %>
<%#     <%= f.submit %1> %>
<%#   </div> %>
<%# <% end %1> %>

<%# <script type="text/javascript" charset="utf-8"> %>
<%#   $(function () { %>
<%#     $('form').submit(function(event) { %>
<%#       //prevent form from submitting the default way %>
<%#       event.preventDefault(); %>

<%#       var values = $(this).serialize(); %>

<%#       var posting = $.post('/posts', values); %>

<%#       posting.done(function(data) { %>
<%#         // TODO: handle response %>
<%#       }); %>
<%#     }); %>
<%#   }); %>
<%# </script> %>

<%= render 'form' %>
