<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="postResult">
  <h2 id="postTitle"></h2>
  <p id="postDesc"></p>
</div>

<script>
  $(function () {
    $('form').submit(function(event) {
      // prevent default submit action
      event.preventDefault()
      
      var values = $(this).serialize();
      
      var posting = $.post('/posts', values)
      
      posting.done(function (data) {
        
        $('#postTitle').text(data['title'])
        $('#postDesc').text(data['description'])
      })
    })
  })
</script>